/* ダミーBOXのスタイル */
.pref-box {
  background: #ffffff;
  border: 1px solid #191970;
  box-shadow: 0 0 4px rgba(0,0,0,0.25);
  height: 26px;
  min-width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  color: #191970;
}

/* Map全体 */
#map {
  position: relative;
  width: 100%;
  min-height: 420px;
  overflow: hidden;
  z-index: 50;
}

/* ダミーBOXラッパー */
#map > div {
  z-index: 10;
  position: absolute;
  display: flex;
  gap: 6px;
}

/* SVG設定 */
#map svg {
  width: 100%;
  height: auto;
  display: block;
  position: relative;
  filter: drop-shadow(0 0 8px #6495ed) drop-shadow(0 0 3px #191970);
  stroke: #191970;
  z-index: 1;
  shape-rendering: geometricPrecision;
}

/* 県パス共通（※ここがポイント：デフォルトだけに限定） */
#map svg path:not(.prefecture-selected):not(.prefecture-unselected):not(.prefecture-initial) {
  fill: #fff;
  stroke-linejoin: round;
  stroke-linecap: round;
}

/* 初期画面（強化版） */
#map svg path.prefecture-initial {
  fill: #fff;
  stroke: #191970;
  transition: all 0.2s ease;
}

/* 拡大後（強制的に勝たせる） */
#map svg path.prefecture-selected {
  fill: #f0fff0;
  stroke: #191970;
  transition: all 0.2s ease;
}

#map svg path.prefecture-unselected {
  fill: #d3d3d3;
  stroke: #191970;
  transition: all 0.2s ease;
}



/* =======================
   Leaflet 用スタイル追加
   ======================= */

/* --- Leaflet 背景 (#lf-map) --- */
#lf-map {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  width: auto;
  height: auto;

  z-index: 0;
}

/* --- 表示枠 (#map-container) --- */
#map-container {
  position: relative;   /* ← これ重要 */
  width: 100%;
  height: 512px;
  overflow: hidden;
  background: #fff;     /* ← 白塗り */
}

/* --- 上に重ねる透明