/* ダミーBOXのスタイル */
.pref-box {
  background: #ffffff;
  border: 1px solid #191970;
  box-shadow: 0 0 4px rgba(0,0,0,0.25);
  height: 26px;
  min-width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  color: #191970;
}

/* Map全体 */
#map {
  position: relative;
  width: 100%;
  min-height: 420px;
  overflow: hidden;
  z-index: 50;
}

/* ダミーBOXラッパー */
#map > div {
  z-index: 10;
  position: absolute;
  display: flex;
  gap: 6px;
}

/* SVG設定 */
#map svg {
    
  width: 100%;
  height: auto;
  display: block;
  position: relative;
  filter: drop-shadow(0 0 8px #6495ed) drop-shadow(0 0 3px #191970);
  stroke: #191970;
  vector-effect: non-scaling-stroke;
  z-index: 1;
  shape-rendering: geometricPrecision;
}

/* 県パス共通 */
#map svg path {
    fill: #fff;
  stroke-linejoin: round;
  stroke-linecap: round;
  vector-effect: non-scaling-stroke;
}

/* 初期画面 */
path.prefecture-initial { fill: #fff; stroke: #191970; transition: all 0.2s ease; }

/* 拡大後 */
path.prefecture-selected { fill: #f0fff0; stroke: #191970; transition: all 0.2s ease; }
path.prefecture-unselected { fill: #d3d3d3; stroke: #191970; transition: all 0.2s ease; }

/* 初期表示（白） */
.prefecture-initial {
  fill: #fff;
  stroke: #000;
  stroke-width: 0.5px;
}

/* 選択済み（薄い緑） */
.prefecture-selected {
  fill: #f0fff0;
  stroke: #000;
  stroke-width: 0.5px;
}

/* 選択外（グレー） */
.prefecture-unselected {
  fill: #d3d3d3;
  stroke: #000;
  stroke-width: 0.5px;
}